p {
  font-size: 18px;
}

.favolite_clear_btn{
  margin-bottom: 20px;
}

#comment_favorite{
  text-align:center;
  width: 60%;
  margin-bottom:10px;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 10px;
  border: 1.5px solid lightblue;
  background: #fff;
  font-size: 15px;
}